@font-face {
    src: url("../assets/fonts/PlayfairDisplay-Medium.woff2") format("woff2");
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;   
}
@font-face {
    src: url("../assets/fonts/PlayfairDisplay-Regular.woff2") format("woff2");
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;   
}
@font-face {
    src: url("../assets/fonts/PlayfairDisplay-Bold.woff2") format("woff2");
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;   
}
@font-face {
    src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2");
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    src: url("../assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
@font-face {
    src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2");
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
@font-face {
    src: url("../assets/fonts/Montserrat-ExtraBold.woff2") format("woff2");
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
@font-face {
    src: url("../assets/fonts/Montserrat-Black.woff2") format("woff2");
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
