@use "fonts.scss" as *;

$coulPrincipalDark1: #131327;
$coulPrincipalDark2: #FAD000;
$coulSecondaireDark1: #A599E9;
$coulSecondaireDark2: #FE9B01;

$laptop: 1024px;
$tablette: 768px;
$mobile: 480px;


$fontprincipal: "Space Grotesk", sans-serif;
$fontsecondaire: "Montserrat", sans-serif;

$radiusbtn: 8px;
$radiuscomp: 16px;